        <br/>
        <br/>
        
        <div id="footer">
    		<div>
    			<p class="text-muted">
    				&copy; AADHAR 2017 | <a href="/ngo">Home</a> | <a href="/about">about</a> | <a href="/gallery">Gallery</a>
    			</p>
    		</div>
    	</div>
    </body>
</html>