<% include partials/header%>

<div class="storyContainer">
		<div class="container">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-10">
					<div class="about">
							
						<h3>ABOUT US</h3>
						<p class="aboutPara">AADHAR is an online platform that allows you to support social change from about 50 NGOs located in 
						MUMBAI that have been analysed for transparency & credibility by providing all the information about each and every NGO. 
						We provide our user all the information about NGOs he might need prior to be the part of it. We want our user to get access
						about the required information at ease. We think that each and every individual can do something for society. A person can
						donate money to NGOs so that these NGOs can make proper use of that money to bring about a social change. A person can volunteer for
						NGOs by helping them in thier work. A person can simply share our website with other so that more people get to know about it and
						be the part of social change. </p>
						<p>Alone we can do so little; together we can do so much.- Helen Keller</p>
						
						<h3>OUR VISION</h3>
						<p>Create an online platform where each and every individual can be a part of social change</p>
					
						<div class="row">
							<div class="col-lg-1"></div>
							<div class="col-lg-3">
								<div class="thumbnail myimage circThumb">
									<img src="https://i.pinimg.com/736x/fb/20/60/fb2060414822a21f6bbf7c76450361fd--volunteering-opportunities-volunteers-needed.jpg">
									<figcaption>Volunteer</figcaption>
								</div>
							</div>
							<div class="col-lg-1"></div>
							<div class="col-lg-3">
								<div class="thumbnail myimage circThumb">
									<img src="https://www.uwhealth.org/files/uwhealth/docs/opo/toolkit/donate_dot_logo.jpg">
									<figcaption>Donate</figcaption>
								</div>
							</div>
							<div class="col-lg-1"></div>
							<div class="col-lg-3">
								<div class="thumbnail myimage circThumb">
									<img src="http://www.welovecheshire.co.uk/wp-content/uploads/2016/02/Share-Logo-Square.jpg">
									<figcaption>Share</figcaption>
								</div>
							</div>
						</div>
						<br/>
						
						<h3>OUR MISSION</h3>
						<p>Providing all the information about NGOs in Mumbai so that individual can decide which works best for him</p>
						
						<h3>OUR MOTTO</h3>
						<p>Do what you can, with what you have, where you are.</p>
					</div>
					
					<br>
					<br>
					
					
					</div>
				</div>
				<div class="col-lg-1"></div>
			</div>
		</div>
	</div>

<% include partials/footer%>