<% include partials/header%>

<div class="container">


		<div class="jumbotron">
			<h1><i class="fa fa-camera-retro" aria-hidden="true"></i> The Image Gallery</h1>
			<p>At this very moment, there are people only you can reach…and differences only you can make.</p>
		</div>

		<div class="row gallery-style">
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1497486751825-1233686d5d80?auto=format&fit=crop&w=701&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1505155485412-30b3a45080ec?auto=format&fit=crop&w=759&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
				</div>			
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1498876901188-b33aec70ea5d?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1495788366333-5e744d4aa271?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1506463041373-f71b11c4b293?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1475608895924-884f5fcbf109?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1489942986787-cded4ecf962e?auto=format&fit=crop&w=752&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1489851221632-0976a724c9fd?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
				</div>
			</div col-sm-6>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1498712681408-fdcfb0eca86e?auto=format&fit=crop&w=755&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
				</div>
			</div>
		</div>
	</div>


<% include partials/footer%>