<% include partials/header%>
<style>
    body{
	background:url("https://images.unsplash.com/photo-1482848961846-c15622fd5db2?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
	background-size: cover;
	background-position: center;
	font-family:Lato;
	color:black;
}
</style>

<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div id="centerTxt">
					<h1 id="heading">AADHAR</h1>
					<h3>Because one person can make a difference and everyone should try</h3>
					<hr id="line">
					<a class="btn btn-default btn-lg" type="button" href="/register">
					Sign up</a>
				</div>		
			</div>
		</div>
</div>



<% include partials/footer%>