<% include ./partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="thumbnail">
                <h1 class="form-heading">Sign up</h1>
                <div class="log-form">
                    <form action="/register" method=POST>
                        <div class="form-group">
                            <input class="form-control" type="text" name="username" placeholder="username" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="firstName" placeholder="First Name" required>
                        </div>
                         <div class="form-group">
                            <input class="form-control" type="text" name="lastName" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" placeholder="email" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="password" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="adminCode" placeholder="Admin code" required>
                        </div>
                         
                        
                         <div class="form-group">
                            <input class="form-control" type="text" name="avatar" placeholder="avatar url" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div style="text-align:center">
        <p>If you are not an admin , <a href="/register">click here</a> .</p>
    </div>
    <br>
    <br>
</div>





<% include ./partials/footer%>